* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    --main-color: #102448;
    --secondary-color: #769ce2;
}
h1 {
    font-size: 50px;
}

.heading {
    background-color: var(--main-color);
    color: white;
    width: 100%;
}
nav {
    display: flex;
    padding: 20px;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: 600;
    padding-left: 50px;
}
.links {
    margin-left: auto;
    display: flex;
    gap: 50px;
    padding-right: 50px;
}
.links li {
    list-style: none;
}
.links li a {
    color: white;
    text-decoration: none;
    transition: all .5s;
}
.links li a:hover {
    color: var(--secondary-color);
    font-size: 17px;
}
.intro {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;
}
.intro h3 {
    margin-top: 10px;
    color: #afafaf;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
}
h6 {
    font-weight: 200;
    font-family: monospace;
    font-size: 14px;
    text-wrap: wrap;
}
.buttons {
    display: flex;
    gap: 10px;
}
.buttons button {
    margin-top: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: white;
    font-family: monospace;
    font-weight: 600;
    transition: all .5s;
}
.buttons button:hover {
    background-color: #9abdff;
}
.introRight {
    margin-left: auto;
}
.introRight img{
    max-height: 300px;
}
.highlight {
    color: var(--secondary-color);
    font-weight: bold;
}
h2 {
    padding-left: 70px;
    margin-top: 20px;
    font-size: 32px;
}
.welcomeText {
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 150px;
}
.footer {
    display: flex;
    padding: 20px;
    font-family: monospace;
    background-color: #afafaf;
    align-items: center;
    justify-content: center;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.CTABox {
    margin-top: 40px;
    padding-left: 6vw;
    padding-right: 6vw;
}
.CTA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;font-family: monospace;
    padding: 40px;
    border-radius: 20px;
}
.CTALeft h3 {
    font-family: monospace;
}
.CTALeft p {
    font-family: monospace;
    color: #e1e1e1;
}
.CTARight button {
    color: white;
    background-color: var(--secondary-color);
    border: solid 3px white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    transition: all .5s;
}
.CTARight button:hover {
    color: #e1e1e1;
}

.aboutText {
    padding: 20px 150px 60px 0px
}
.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px;
}
.aboutSection {
    flex: 1;
    
    padding: 30px;
    border-radius: 15px;
    background-color: #769ce24b;
}
.aboutTitle {
    font-size: 26px;
}
.aboutCaption {
    font-size: 16px;
    font-weight: 500;
    font-family: monospace;
    color: #525252;
}
.aboutList {
    font-family: monospace;
    font-size: 16px;
    margin-left: 20px;
}
.projectTitle {
    font-size: 24px;
}
.projectContainer {
    padding: 10px 20px 10px 20px;
    display: flex;
    gap: 20px;
}
.projectSection {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.865);
}
.projectHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projectCaption {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.projectTags {
    margin-top: 5px;;
    display: flex;
    gap: 10px;
}
p.status, 
p.tag, 
p.source{
    padding: 5px;
    border-radius: 7px;
    font-family: monospace;
}
p.tag{
    background-color: #8f8f8f8b;
}
p.completed {
    color: #3cc62aef;
    background-color: #3cc62a50;
    font-weight: bold;
}
p.source, 
h5.projectDate {
    color:#8f8f8ff3;
}